snippet b "Bold" w
**$1**$0
endsnippet

snippet t
**${VISUAL}**$0
endsnippet

# TODO: bold should:
# - Add space if the following is not whitespace
# - Expand visual if there is a visual (we could do with Lua?)

# TODO: Expand tab directly if no PUM

snippet pi
π $0
endsnippet
