# TODO: Don't add space if the next character is punctuation
snippet bb "Bold" wA
**$1**$0
endsnippet

snippet ii "Bold" wA
*$1*$0
endsnippet

snippet 'h(\d)' "Heading" brA
`!p snip.rv = int(match.group(1))*'#'` $0
endsnippet

snippet today "Today's date" w
`date +%F`
endsnippet

snippet time "Hours and minutes" w
`date +%H:%M`
endsnippet

snippet log "Log a drug entry" b
**`date +%H:%M`** ${1:20mg} ${2:drug}, ${3:oral}
endsnippet
